.homepage {
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-position: center;

    &.grid {
        justify-content: center;
        align-items: center;
    }

    .homepage__logo {
        display: block;
        width: 25vw;
        height: auto;
        filter: drop-shadow( 0 0 10px $dark-gray );
        transition: 1s;

        path, polygon {
            fill: $white;
        }

            &:hover {
                width: 30vw;
                filter: blur(10px);

                path, polygon {
                    fill: $secondary-color;
                }
            }

        @include tablet-break {
            width: 50vw;
        }
    }
}
