@charset "UTF-8";
/* Globals */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Dosis:300,400,500,700");
* {
  -webkit-transition: .2s;
  transition: .2s;
  box-sizing: border-box; }

/* Config */
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 16px; }

h2 {
  font-family: 'Dosis', sans-serif;
  color: #3f7cac;
  font-size: 4em; }

h3 {
  font-family: 'Dosis', sans-serif;
  color: #697175;
  font-size: 3em; }

h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  color: #393d3f;
  font-size: 1.125em; }

.header .nav__link a {
  font-family: 'Dosis', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5em;
  color: #1b2021; }
  .header .nav__link a:hover {
    color: #697175; }

.header .nav__link.current-menu-item a {
  color: #f89c7d; }

.header .nav__link.current-page-ancestor a {
  color: #f89c7d; }

.header .nav__link.current_page_parent a {
  color: #f89c7d; }

.header .subnav__link a {
  color: #ffffff;
  font-size: 1.25em; }

.banner h1.banner__header {
  font-family: 'Dosis', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 6em;
  letter-spacing: .025em;
  color: #ffffff; }

.excerpt .excerpt__title {
  font-family: 'Dosis', sans-serif;
  text-decoration: none;
  font-size: 2em;
  color: #ffffff; }
  .excerpt .excerpt__title a {
    color: #3f7cac;
    text-decoration: none; }
    .excerpt .excerpt__title a:hover {
      color: #f89c7d; }

.excerpt .excerpt__meta {
  font-size: .8em;
  color: #ffffff;
  font-weight: bold; }

.excerpt .excerpt__link {
  color: #3f7cac;
  text-decoration: none;
  font-family: 'Dosis', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5em; }
  .excerpt .excerpt__link:hover {
    color: #f89c7d; }
  .excerpt .excerpt__link::after {
    content: ' ▸▸'; }

.footer .nav__link a {
  font-family: 'Dosis', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  font-size: 2em; }

.footer .footer__legal {
  font-family: 'Dosis', sans-serif;
  font-size: .9em; }

body {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  min-height: 100vh; }
  body .header, body .page-content, body .footer {
    width: 100%; }
  body .page-content {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  body .footer {
    -ms-flex-item-align: end;
        align-self: flex-end; }

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 1.5em;
  padding-right: 1.5em; }

.grid--container {
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5em;
  padding-right: 1.5em; }

/* Components */
.socials {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px; }
  .socials li {
    list-style: none; }
    .socials li .social {
      display: block; }
      .socials li .social svg {
        fill: #ffffff;
        display: block;
        width: 30px;
        height: 30px; }
        .socials li .social svg .up {
          display: none; }
      .socials li .social:hover svg {
        fill: #f89c7d; }
    .socials li:nth-child(even) svg .up {
      display: block; }
    .socials li:nth-child(even) svg .down {
      display: none; }

.header {
  border-bottom: 5px solid #3f7cac; }
  .header .header--pre {
    background: #1b2021; }
  .header .header--main .grid {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .header .header--main .grid .header__logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 1em; }
      .header .header--main .grid .header__logo .header__logo__image {
        height: 100px;
        width: auto; }
        .header .header--main .grid .header__logo .header__logo__image path, .header .header--main .grid .header__logo .header__logo__image polygon {
          fill: #1b2021; }
        .header .header--main .grid .header__logo .header__logo__image:hover path, .header .header--main .grid .header__logo .header__logo__image:hover polygon {
          fill: #697175; }
    .header .header--main .grid .nav {
      list-style: none;
      padding: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .header .header--main .grid .nav .nav__link a {
        text-decoration: none;
        margin-left: .75em; }

.subnav {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .subnav .subnav__link {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
    .subnav .subnav__link a {
      color: #ffffff;
      background: #697175;
      text-align: center;
      display: block;
      width: 100%;
      padding-top: .5em;
      padding-bottom: .5em;
      font-family: 'Dosis', sans-serif; }
      .subnav .subnav__link a:hover {
        background: #f89c7d; }

.banner {
  background-size: cover;
  background-position: center;
  padding-top: 4em;
  padding-bottom: 4em;
  position: relative;
  box-shadow: inset 0 15px 15px -15px rgba(27, 32, 33, 0.75), inset 0 -15px 15px -15px rgba(27, 32, 33, 0.75); }
  .banner::before {
    content: '';
    display: block;
    background: #212324;
    opacity: .5;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1; }
  .banner .grid {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .banner .grid .banner__header {
      margin: 0;
      z-index: 3;
      text-shadow: 0 0 15px rgba(27, 32, 33, 0.75); }

.banner--tall {
  padding-bottom: calc(4em + 10em);
  margin-bottom: -10em; }
  .banner--tall + .page-content {
    background: #ffffff;
    z-index: 4; }
  .banner--tall::after {
    content: '';
    display: block;
    background: #ffffff;
    width: 950px;
    height: 12em;
    position: absolute;
    right: 0;
    bottom: -2em;
    left: 0;
    margin: 0 auto;
    z-index: 2;
    box-shadow: 0 0 15px rgba(27, 32, 33, 0.75); }

.footer {
  background: #697175; }
  .footer .footer--pre {
    background: #393d3f; }
    .footer .footer--pre .grid {
      padding: 0; }
      .footer .footer--pre .grid .nav {
        list-style: none;
        padding: 0;
        margin: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%; }
        .footer .footer--pre .grid .nav .nav__link {
          -webkit-box-flex: 1;
              -ms-flex: 1;
                  flex: 1; }
          .footer .footer--pre .grid .nav .nav__link a {
            text-align: center;
            display: block;
            width: 100%;
            padding-top: .5em;
            padding-bottom: .5em; }
            .footer .footer--pre .grid .nav .nav__link a:hover {
              background: #212324; }
  .footer .footer--main {
    text-align: center;
    color: #ffffff; }
  .footer .footer--post {
    background: #212324;
    color: #ffffff;
    padding-top: .5em;
    padding-bottom: .5em; }
    .footer .footer--post .footer__legal {
      width: 100%;
      text-align: center; }

/* Pages */
.page-content {
  position: relative;
  background: #ffffff;
  padding-top: 3em;
  padding-bottom: 4.5em; }
  .page-content article {
    width: 100%;
    z-index: 3;
    padding: 1.5em; }
    .page-content article h1, .page-content article h2, .page-content article h3, .page-content article h4, .page-content article h5, .page-content article h6 {
      margin: 0;
      margin-bottom: 1.5em; }
    .page-content article p {
      margin: 0;
      margin-bottom: 1.5em; }
      .page-content article p .alignnone {
        display: block;
        width: calc(100px + 100%);
        height: auto;
        margin: 0 -1.5em 1.5em -1.5em; }
      .page-content article p .alignleft {
        float: left;
        margin: 0 1.5em 1.5em -1.5em; }
      .page-content article p .alignright {
        float: right;
        margin: 0 -1.5em 1.5em 1.5em; }
      .page-content article p .aligncenter {
        display: block;
        margin: 0 auto; }

.blog .page-content.grid {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 3em; }
  .blog .page-content.grid .excerpt {
    width: 50%;
    padding: 1.5em;
    margin-bottom: 1.5em; }
    @media only screen and (max-width: 768px) {
      .blog .page-content.grid .excerpt {
        width: 100%; } }
    .blog .page-content.grid .excerpt .excerpt__block-link {
      text-decoration: none;
      color: inherit;
      display: block; }
      .blog .page-content.grid .excerpt .excerpt__block-link .excerpt__header {
        padding: 7.5em 1.5em 0.75em 1.5em;
        margin-bottom: 1.5em;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        position: relative; }
        .blog .page-content.grid .excerpt .excerpt__block-link .excerpt__header::before {
          content: '';
          display: block;
          background: #3f7cac;
          opacity: .5;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 1; }
        .blog .page-content.grid .excerpt .excerpt__block-link .excerpt__header .excerpt__meta {
          margin-bottom: 0;
          position: relative;
          z-index: 4;
          text-shadow: 0 0 15px rgba(27, 32, 33, 0.75); }
        .blog .page-content.grid .excerpt .excerpt__block-link .excerpt__header .excerpt__title {
          position: relative;
          z-index: 5;
          margin-bottom: 0;
          text-shadow: 0 0 15px rgba(27, 32, 33, 0.75); }
      .blog .page-content.grid .excerpt .excerpt__block-link .excerpt__body {
        padding: 0 1.5em 1.5em 1.5em; }
        .blog .page-content.grid .excerpt .excerpt__block-link .excerpt__body p.excerpt__text {
          margin-bottom: 0.75em; }
        .blog .page-content.grid .excerpt .excerpt__block-link .excerpt__body .excerpt__link {
          text-decoration: none; }
          .blog .page-content.grid .excerpt .excerpt__block-link .excerpt__body .excerpt__link::after {
            content: ' ▸▸'; }
      .blog .page-content.grid .excerpt .excerpt__block-link:hover {
        position: relative;
        top: -3px;
        box-shadow: 0 0 15px rgba(27, 32, 33, 0.75); }
        .blog .page-content.grid .excerpt .excerpt__block-link:hover .excerpt__title, .blog .page-content.grid .excerpt .excerpt__block-link:hover .excerpt__link {
          color: #f89c7d; }
        .blog .page-content.grid .excerpt .excerpt__block-link:hover .excerpt__header .excerpt__title {
          color: #ffffff; }
        .blog .page-content.grid .excerpt .excerpt__block-link:hover .excerpt__header::before {
          background: #f89c7d; }

.home article {
  padding: 0; }

.homepage {
  height: 80vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative; }
  .homepage::after {
    content: '';
    background: #3f7cac;
    opacity: .25;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1; }
  .homepage.grid {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center; }
  .homepage .homepage__logo {
    z-index: 2;
    display: block;
    width: 25vw;
    height: auto;
    -webkit-filter: drop-shadow(0 0 10px #212324);
            filter: drop-shadow(0 0 10px #212324);
    -webkit-transition: 1s;
    transition: 1s; }
    .homepage .homepage__logo path, .homepage .homepage__logo polygon {
      fill: #ffffff; }
    .homepage .homepage__logo polygon:hover {
      fill: #f89c7d; }
    @media only screen and (max-width: 768px) {
      .homepage .homepage__logo {
        width: 50vw; } }
