@charset "UTF-8";
/* Globals */
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Dosis:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=VT323");
* {
  box-sizing: border-box; }

/* Config */
* {
  -webkit-transition: 0.2s;
  transition: 0.2s; }

body {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 18px; }

p {
  font-size: 1.25em;
  line-height: 2em; }

.portfolio__h1 {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  font-size: 4em;
  text-align: center;
  text-transform: uppercase; }

h2 {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  color: #3f7cac;
  font-size: 3.5em; }

h3 {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  color: #707f83;
  font-size: 2.5em; }

h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  color: #363d3e;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.5em; }

.header .nav__link a {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5em;
  color: #1e2223; }
  .header .nav__link a:hover {
    color: #707f83; }

.header .nav__link.current-menu-item a {
  color: #f89c7d; }

.header .nav__link.current-page-ancestor a {
  color: #f89c7d; }

.header .nav__link.current_page_parent a {
  color: #f89c7d; }

.header .subnav__link a {
  color: #fcfaf6;
  font-size: 1.25em; }

.banner h1.banner__header {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 6em;
  letter-spacing: .025em;
  color: #fcfaf6;
  text-shadow: 0px 10px 15px rgba(0, 255, 0, 0.15), 0px 20px 15px rgba(225, 0, 0, 0.1), 0px -10px 15px rgba(255, 0, 0, 0.15), 0px -20px 15px rgba(0, 255, 0, 0.1), 10px 0px 15px rgba(255, 255, 0, 0.15), 20px 0px 15px rgba(0, 255, 255, 0.1), -10px 0px 15px rgba(0, 255, 255, 0.15), -20px 0px 15px rgba(255, 255, 0, 0.1), 0px 0px 10px rgba(0, 0, 0, 0.25); }

.banner .swiper-button-prev, .banner .swiper-button-next {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  color: #fcfaf6;
  background-color: #363d3e;
  font-size: 1em;
  cursor: pointer; }
  .banner .swiper-button-prev:hover, .banner .swiper-button-next:hover {
    color: #f89c7d; }
  @media only screen and (min-width: 1200px) {
    .banner .swiper-button-prev, .banner .swiper-button-next {
      background-color: transparent;
      color: #fcfaf6; } }
  @media only screen and (max-width: 768px) {
    .banner .swiper-button-prev, .banner .swiper-button-next {
      display: none; } }

.excerpt .excerpt__title {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  text-decoration: none;
  font-size: 2em;
  color: #fcfaf6; }
  .excerpt .excerpt__title a {
    color: #3f7cac;
    text-decoration: none; }
    .excerpt .excerpt__title a:hover {
      color: #f89c7d; }

.excerpt .excerpt__date {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: .8em;
  color: #fcfaf6;
  font-weight: bold; }

.excerpt .excerpt__tag {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  color: #707f83; }

.excerpt .excerpt__link {
  color: #3f7cac;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5em; }
  .excerpt .excerpt__link:hover {
    color: #f89c7d; }
  .excerpt .excerpt__link::after {
    content: ' ▸▸'; }

.single .meta {
  color: #707f83; }

.single .back__blog {
  color: #3f7cac;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5em;
  margin: 0 auto; }
  .single .back__blog:hover {
    color: #f89c7d; }
  .single .back__blog::before {
    content: ' ▸▸';
    display: inline-block;
    position: relative;
    top: .025em;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }

.footer .nav__link a {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  color: #fcfaf6;
  font-size: 2em; }

.footer .footer__legal {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  font-size: .9em; }

body {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  min-height: 100vh; }
  body .header, body .page-content, body .footer {
    width: 100%; }
  body .page-content {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  body .footer {
    -ms-flex-item-align: end;
        align-self: flex-end; }

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 3vw;
  padding-right: 3vw; }

.grid--container {
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3vw;
  padding-right: 3vw; }
  @media only screen and (max-width: 768px) {
    .grid--container {
      max-width: 100vw; } }

/* Components */
.socials {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px; }
  .socials li {
    list-style: none; }
    .socials li .social {
      display: block; }
      .socials li .social svg {
        fill: #fcfaf6;
        display: block;
        width: 30px;
        height: 30px; }
        .socials li .social svg .up {
          display: none; }
      .socials li .social:hover svg {
        fill: #f89c7d; }
    .socials li:nth-child(even) svg .up {
      display: block; }
    .socials li:nth-child(even) svg .down {
      display: none; }

.header {
  border-bottom: 0.5em solid #3f7cac;
  background: #fcfaf6; }
  .header .header--pre {
    background: #1e2223; }
  .header .header--main .grid {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .header .header--main .grid .header__logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 1em; }
      .header .header--main .grid .header__logo .header__logo__image {
        height: 100px;
        width: auto; }
        .header .header--main .grid .header__logo .header__logo__image path, .header .header--main .grid .header__logo .header__logo__image polygon {
          fill: #1e2223; }
        .header .header--main .grid .header__logo .header__logo__image:hover path, .header .header--main .grid .header__logo .header__logo__image:hover polygon {
          fill: #f89c7d; }
    .header .header--main .grid .nav {
      list-style: none;
      padding: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .header .header--main .grid .nav .nav__link a {
        text-decoration: none;
        margin-left: .75em; }

.subnav {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .subnav .subnav__link {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
    .subnav .subnav__link a {
      color: #fcfaf6;
      background: #363d3e;
      text-align: center;
      display: block;
      width: 100%;
      padding-top: .5em;
      padding-bottom: .5em;
      font-family: 'Raleway', sans-serif;
      font-weight: 300;
      text-transform: uppercase;
      text-decoration: none;
      text-decoration: none; }
      .subnav .subnav__link a:hover {
        background: #1e2223; }

.banner {
  background-size: cover;
  background-position: center;
  padding-top: 4em;
  padding-bottom: 4em;
  box-shadow: inset 0px 25px 25px -15px rgba(0, 255, 0, 0.15), inset 0px 50px 25px -15px rgba(225, 0, 0, 0.1), inset 0px -25px 25px -15px rgba(255, 0, 0, 0.15), inset 0px -50px 25px -15px rgba(0, 255, 0, 0.1), inset 25px 0px 25px -15px rgba(255, 255, 0, 0.15), inset 50px 0px 25px -15px rgba(0, 255, 255, 0.1), inset -25px 0px 25px -15px rgba(0, 255, 255, 0.15), inset -50px 0px 25px -15px rgba(255, 255, 0, 0.1); }
  .banner .grid {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .banner .grid .banner__header {
      margin: 0;
      z-index: 3;
      text-shadow: 0px 10px 15px rgba(0, 255, 0, 0.15), 0px 20px 15px rgba(225, 0, 0, 0.1), 0px -10px 15px rgba(255, 0, 0, 0.15), 0px -20px 15px rgba(0, 255, 0, 0.1), 10px 0px 15px rgba(255, 255, 0, 0.15), 20px 0px 15px rgba(0, 255, 255, 0.1), -10px 0px 15px rgba(0, 255, 255, 0.15), -20px 0px 15px rgba(255, 255, 0, 0.1), 0px 0px 10px rgba(0, 0, 0, 0.25); }

.banner--overlay {
  position: relative; }
  .banner--overlay::before {
    content: '';
    display: block;
    background-color: rgba(30, 34, 35, 0.25);
    background-image: url("images/screendoor.png");
    opacity: .5;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-position: center center; }

.banner--overlap {
  position: relative;
  padding-bottom: calc(4em + 5em);
  margin-bottom: -3.5em; }
  .banner--overlap + .page-content {
    background: #fcfaf6;
    z-index: 4; }
  .banner--overlap::after {
    content: '';
    display: block;
    background: #fcfaf6;
    width: 80vw;
    height: 7em;
    position: absolute;
    right: 0;
    bottom: -3.5em;
    left: 0;
    margin: 0 auto;
    z-index: 2;
    box-shadow: 0px 10px 15px rgba(0, 255, 0, 0.15), 0px 20px 15px rgba(225, 0, 0, 0.1), 0px -10px 15px rgba(255, 0, 0, 0.15), 0px -20px 15px rgba(0, 255, 0, 0.1), 10px 0px 15px rgba(255, 255, 0, 0.15), 20px 0px 15px rgba(0, 255, 255, 0.1), -10px 0px 15px rgba(0, 255, 255, 0.15), -20px 0px 15px rgba(255, 255, 0, 0.1), 0px 0px 10px rgba(0, 0, 0, 0.25); }
    @media only screen and (max-width: 768px) {
      .banner--overlap::after {
        width: 100vw; } }

.banner--swiper {
  padding: 0;
  height: 90vh; }
  @media only screen and (min-width: 1200px) {
    .banner--swiper {
      height: 100vh; } }
  .banner--swiper .swiper-wrapper {
    height: 100%;
    display: block; }
    .banner--swiper .swiper-wrapper .swiper-slide {
      height: 100%;
      display: block;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
  .banner--swiper .swiper-button-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    top: -.64em; }
    @media only screen and (min-width: 1200px) {
      .banner--swiper .swiper-button-container {
        top: -2.5em; } }
    .banner--swiper .swiper-button-container .swiper-button-prev, .banner--swiper .swiper-button-container .swiper-button-next {
      display: block;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
                  -ms-grid-row-align: center;
              align-items: center;
      width: 10vw;
      text-align: center;
      padding: .5em 0;
      font-size: 1.5em;
      line-height: 1em; }
      .banner--swiper .swiper-button-container .swiper-button-prev span, .banner--swiper .swiper-button-container .swiper-button-next span {
        position: relative;
        top: -.025em; }
        @media only screen and (min-width: 1200px) {
          .banner--swiper .swiper-button-container .swiper-button-prev span, .banner--swiper .swiper-button-container .swiper-button-next span {
            color: #363d3e; } }
      .banner--swiper .swiper-button-container .swiper-button-prev:hover, .banner--swiper .swiper-button-container .swiper-button-next:hover {
        position: relative;
        top: -1px; }
    .banner--swiper .swiper-button-container .swiper-button-prev {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
  .banner--swiper .swiper-pagination {
    width: 100%;
    max-width: 80vw;
    position: relative;
    z-index: 10;
    top: -4.5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media only screen and (min-width: 1200px) {
      .banner--swiper .swiper-pagination {
        top: 0; } }
    .banner--swiper .swiper-pagination .swiper-pagination-bullet {
      display: block;
      cursor: pointer;
      background-color: #f89c7d;
      height: .3em;
      width: .3em;
      padding: .3em;
      margin: 0 .5em;
      border-radius: 100%; }
      .banner--swiper .swiper-pagination .swiper-pagination-bullet-active {
        background-color: #3f7cac; }
      .banner--swiper .swiper-pagination .swiper-pagination-bullet:hover {
        position: relative;
        top: -1px; }

.footer {
  background: #3f7cac; }
  .footer .footer--pre {
    background: #363d3e; }
    .footer .footer--pre .grid {
      padding: 0; }
      .footer .footer--pre .grid .nav {
        list-style: none;
        padding: 0;
        margin: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%; }
        .footer .footer--pre .grid .nav .nav__link {
          -webkit-box-flex: 1;
              -ms-flex: 1;
                  flex: 1; }
          .footer .footer--pre .grid .nav .nav__link a {
            text-align: center;
            display: block;
            width: 100%;
            padding-top: .5em;
            padding-bottom: .5em; }
            .footer .footer--pre .grid .nav .nav__link a:hover {
              background: #1e2223; }
  .footer .footer--main {
    text-align: center;
    color: #fcfaf6;
    padding-top: 6vw;
    padding-bottom: 6vw; }
  .footer .footer--post {
    background: #1e2223;
    color: #fcfaf6;
    padding-top: .5em;
    padding-bottom: .5em; }
    .footer .footer--post .footer__legal {
      width: 100%;
      text-align: center; }

/* Pages */
body {
  background-color: #fcfaf6; }

.page-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background: #fcfaf6;
  padding-top: 6vw;
  padding-bottom: 18vw; }
  .page-content article {
    width: 100%;
    z-index: 3;
    padding: 3vw; }
    .page-content article h1, .page-content article h2, .page-content article h3, .page-content article h4, .page-content article h5, .page-content article h6 {
      margin: 0;
      margin-bottom: 1.5vw; }
    .page-content article p {
      margin: 0;
      margin-bottom: 3vw; }
      .page-content article p a {
        color: #1e2223;
        text-decoration: none;
        border-bottom: 1px #f89c7d dotted; }
        .page-content article p a:hover {
          color: #3f7cac;
          border-bottom: 1px #3f7cac dotted; }
      .page-content article p .alignnone {
        display: block;
        margin: 0 auto; }
      .page-content article p .alignleft {
        float: left;
        margin: 0 3vw 3vw -4.8vw; }
      .page-content article p .alignright {
        float: right;
        margin: 0 -4.8vw 3vw 3vw; }
      .page-content article p .aligncenter {
        display: block;
        width: calc(4.8em + 100%);
        height: auto;
        margin: 0 -4.8vw 3vw -4.8vw; }

.blog .page-content.grid, .archive .page-content.grid {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 6vw; }
  .blog .page-content.grid .excerpt, .archive .page-content.grid .excerpt {
    width: 50%;
    padding: 3vw;
    margin-bottom: 3vw; }
    @media only screen and (max-width: 768px) {
      .blog .page-content.grid .excerpt, .archive .page-content.grid .excerpt {
        width: 100%; } }
    .blog .page-content.grid .excerpt .excerpt__block-link, .archive .page-content.grid .excerpt .excerpt__block-link {
      text-decoration: none;
      color: inherit;
      display: block; }
      .blog .page-content.grid .excerpt .excerpt__block-link .excerpt__header, .archive .page-content.grid .excerpt .excerpt__block-link .excerpt__header {
        padding: 15vw 3vw 1.5vw 3vw;
        margin-bottom: 3vw;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        position: relative; }
        .blog .page-content.grid .excerpt .excerpt__block-link .excerpt__header::before, .archive .page-content.grid .excerpt .excerpt__block-link .excerpt__header::before {
          content: '';
          display: block;
          background: #3f7cac;
          opacity: .5;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 1; }
        .blog .page-content.grid .excerpt .excerpt__block-link .excerpt__header .excerpt__date, .archive .page-content.grid .excerpt .excerpt__block-link .excerpt__header .excerpt__date {
          text-shadow: 0px 10px 15px rgba(0, 255, 0, 0.15), 0px 20px 15px rgba(225, 0, 0, 0.1), 0px -10px 15px rgba(255, 0, 0, 0.15), 0px -20px 15px rgba(0, 255, 0, 0.1), 10px 0px 15px rgba(255, 255, 0, 0.15), 20px 0px 15px rgba(0, 255, 255, 0.1), -10px 0px 15px rgba(0, 255, 255, 0.15), -20px 0px 15px rgba(255, 255, 0, 0.1), 0px 0px 10px rgba(0, 0, 0, 0.25);
          position: relative;
          z-index: 5;
          margin-bottom: 0.75vw; }
        .blog .page-content.grid .excerpt .excerpt__block-link .excerpt__header .excerpt__title, .archive .page-content.grid .excerpt .excerpt__block-link .excerpt__header .excerpt__title {
          position: relative;
          z-index: 5;
          margin-bottom: 0;
          text-shadow: 0px 10px 15px rgba(0, 255, 0, 0.15), 0px 20px 15px rgba(225, 0, 0, 0.1), 0px -10px 15px rgba(255, 0, 0, 0.15), 0px -20px 15px rgba(0, 255, 0, 0.1), 10px 0px 15px rgba(255, 255, 0, 0.15), 20px 0px 15px rgba(0, 255, 255, 0.1), -10px 0px 15px rgba(0, 255, 255, 0.15), -20px 0px 15px rgba(255, 255, 0, 0.1), 0px 0px 10px rgba(0, 0, 0, 0.25); }
      .blog .page-content.grid .excerpt .excerpt__block-link .excerpt__body, .archive .page-content.grid .excerpt .excerpt__block-link .excerpt__body {
        padding: 0 3vw 3vw 3vw; }
        .blog .page-content.grid .excerpt .excerpt__block-link .excerpt__body .excerpt__meta, .archive .page-content.grid .excerpt .excerpt__block-link .excerpt__body .excerpt__meta {
          margin-bottom: 3vw; }
        .blog .page-content.grid .excerpt .excerpt__block-link .excerpt__body p.excerpt__text, .archive .page-content.grid .excerpt .excerpt__block-link .excerpt__body p.excerpt__text {
          margin-bottom: 1.5vw; }
        .blog .page-content.grid .excerpt .excerpt__block-link .excerpt__body .excerpt__link, .archive .page-content.grid .excerpt .excerpt__block-link .excerpt__body .excerpt__link {
          text-decoration: none; }
          @media only screen and (max-width: 768px) {
            .blog .page-content.grid .excerpt .excerpt__block-link .excerpt__body .excerpt__link, .archive .page-content.grid .excerpt .excerpt__block-link .excerpt__body .excerpt__link {
              text-align: center; } }
      .blog .page-content.grid .excerpt .excerpt__block-link:hover, .blog .page-content.grid .excerpt .excerpt__block-link:active, .archive .page-content.grid .excerpt .excerpt__block-link:hover, .archive .page-content.grid .excerpt .excerpt__block-link:active {
        position: relative;
        top: -1.25px;
        box-shadow: 0px 10px 15px rgba(0, 255, 0, 0.15), 0px 20px 15px rgba(225, 0, 0, 0.1), 0px -10px 15px rgba(255, 0, 0, 0.15), 0px -20px 15px rgba(0, 255, 0, 0.1), 10px 0px 15px rgba(255, 255, 0, 0.15), 20px 0px 15px rgba(0, 255, 255, 0.1), -10px 0px 15px rgba(0, 255, 255, 0.15), -20px 0px 15px rgba(255, 255, 0, 0.1), 0px 0px 10px rgba(0, 0, 0, 0.25); }
        .blog .page-content.grid .excerpt .excerpt__block-link:hover .excerpt__title, .blog .page-content.grid .excerpt .excerpt__block-link:hover .excerpt__link, .blog .page-content.grid .excerpt .excerpt__block-link:active .excerpt__title, .blog .page-content.grid .excerpt .excerpt__block-link:active .excerpt__link, .archive .page-content.grid .excerpt .excerpt__block-link:hover .excerpt__title, .archive .page-content.grid .excerpt .excerpt__block-link:hover .excerpt__link, .archive .page-content.grid .excerpt .excerpt__block-link:active .excerpt__title, .archive .page-content.grid .excerpt .excerpt__block-link:active .excerpt__link {
          color: #f89c7d; }
        .blog .page-content.grid .excerpt .excerpt__block-link:hover .excerpt__header .excerpt__title, .blog .page-content.grid .excerpt .excerpt__block-link:active .excerpt__header .excerpt__title, .archive .page-content.grid .excerpt .excerpt__block-link:hover .excerpt__header .excerpt__title, .archive .page-content.grid .excerpt .excerpt__block-link:active .excerpt__header .excerpt__title {
          color: #fcfaf6; }
        .blog .page-content.grid .excerpt .excerpt__block-link:hover .excerpt__header::before, .blog .page-content.grid .excerpt .excerpt__block-link:active .excerpt__header::before, .archive .page-content.grid .excerpt .excerpt__block-link:hover .excerpt__header::before, .archive .page-content.grid .excerpt .excerpt__block-link:active .excerpt__header::before {
          background: #f89c7d; }

.single .meta {
  margin-bottom: 6vw;
  text-align: center; }
  .single .meta .meta__date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 3vw; }
    .single .meta .meta__date::before, .single .meta .meta__date::after {
      content: '';
      display: block;
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      height: .125em;
      background: currentColor; }
    .single .meta .meta__date::before {
      margin-right: .5em; }
    .single .meta .meta__date::after {
      margin-left: .5em; }
  .single .meta .tag {
    padding: 0 .25em; }

.single .back__blog {
  display: block;
  text-align: center; }

.page-template-grid-page-template .page-content.grid {
  padding: 1vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .page-template-grid-page-template .page-content.grid article {
    box-sizing: border-box;
    padding: 1vw;
    -ms-flex-preferred-size: 32.6666666vw;
        flex-basis: 32.6666666vw; }
    .page-template-grid-page-template .page-content.grid article .project-grid-block {
      height: 30.6666666vw;
      display: block;
      background-size: cover;
      background-position: center center;
      overflow: hidden;
      position: relative; }
      .page-template-grid-page-template .page-content.grid article .project-grid-block .project-grid-block__info {
        text-shadow: 0px 10px 15px rgba(0, 255, 0, 0.15), 0px 20px 15px rgba(225, 0, 0, 0.1), 0px -10px 15px rgba(255, 0, 0, 0.15), 0px -20px 15px rgba(0, 255, 0, 0.1), 10px 0px 15px rgba(255, 255, 0, 0.15), 20px 0px 15px rgba(0, 255, 255, 0.1), -10px 0px 15px rgba(0, 255, 255, 0.15), -20px 0px 15px rgba(255, 255, 0, 0.1), 0px 0px 10px rgba(0, 0, 0, 0.25);
        position: absolute;
        width: 100%;
        padding: 0 5%;
        height: 100%;
        max-height: 33%;
        bottom: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        z-index: 100; }
      .page-template-grid-page-template .page-content.grid article .project-grid-block:hover::before {
        content: '';
        display: block;
        background-color: rgba(30, 34, 35, 0.25);
        background-image: url("images/screendoor.png");
        opacity: .5;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        background-position: center center; }
      .page-template-grid-page-template .page-content.grid article .project-grid-block:hover .project-grid-block__info {
        max-height: 100%; }
        .page-template-grid-page-template .page-content.grid article .project-grid-block:hover .project-grid-block__info .excerpt__title, .page-template-grid-page-template .page-content.grid article .project-grid-block:hover .project-grid-block__info .excerpt__meta, .page-template-grid-page-template .page-content.grid article .project-grid-block:hover .project-grid-block__info .excerpt__link {
          display: block; }
      .page-template-grid-page-template .page-content.grid article .project-grid-block .excerpt__title {
        color: #fcfaf6;
        text-align: center;
        margin-bottom: 3vw; }
      .page-template-grid-page-template .page-content.grid article .project-grid-block .excerpt__meta {
        display: none;
        margin-bottom: 1.5vw; }
        .page-template-grid-page-template .page-content.grid article .project-grid-block .excerpt__meta .excerpt__tag {
          color: #fcfaf6; }
      .page-template-grid-page-template .page-content.grid article .project-grid-block .excerpt__link {
        display: none;
        color: #fcfaf6;
        font-size: 1.125em; }
        .page-template-grid-page-template .page-content.grid article .project-grid-block .excerpt__link:hover {
          color: #fcfaf6; }
    @media only screen and (max-width: 768px) {
      .page-template-grid-page-template .page-content.grid article {
        -ms-flex-preferred-size: 49vw;
            flex-basis: 49vw; }
        .page-template-grid-page-template .page-content.grid article .project-grid-block {
          height: 47vw; }
          .page-template-grid-page-template .page-content.grid article .project-grid-block::before {
            content: '';
            display: block;
            background-color: rgba(30, 34, 35, 0.25);
            background-image: url("images/screendoor.png");
            opacity: .5;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            background-position: center center; }
          .page-template-grid-page-template .page-content.grid article .project-grid-block .project-grid-block__info {
            max-height: 100%; }
            .page-template-grid-page-template .page-content.grid article .project-grid-block .project-grid-block__info .excerpt__title, .page-template-grid-page-template .page-content.grid article .project-grid-block .project-grid-block__info .excerpt__meta, .page-template-grid-page-template .page-content.grid article .project-grid-block .project-grid-block__info .excerpt__link {
              display: block; } }
    @media only screen and (max-width: 414px) {
      .page-template-grid-page-template .page-content.grid article {
        -ms-flex-preferred-size: 98vw;
            flex-basis: 98vw; }
        .page-template-grid-page-template .page-content.grid article .project-grid-block {
          height: 96vw; }
          .page-template-grid-page-template .page-content.grid article .project-grid-block::before {
            content: '';
            display: block;
            background-color: rgba(30, 34, 35, 0.25);
            background-image: url("images/screendoor.png");
            opacity: .5;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            background-position: center center; }
          .page-template-grid-page-template .page-content.grid article .project-grid-block .project-grid-block__info {
            max-height: 100%; }
            .page-template-grid-page-template .page-content.grid article .project-grid-block .project-grid-block__info .excerpt__title, .page-template-grid-page-template .page-content.grid article .project-grid-block .project-grid-block__info .excerpt__meta, .page-template-grid-page-template .page-content.grid article .project-grid-block .project-grid-block__info .excerpt__link {
              display: block; } }

@media only screen and (min-width: 1200px) {
  body.single-work {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    body.single-work .header {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; }
    body.single-work .banner {
      width: 50%;
      -ms-flex-item-align: start;
          align-self: flex-start;
      height: 90vh;
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3; }
    body.single-work .banner--overlap::after {
      display: none; }
    body.single-work .page-content {
      margin: 0;
      width: 50%;
      height: 90vh;
      overflow: scroll;
      -ms-flex-item-align: end;
          align-self: flex-end;
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2; }
      body.single-work .page-content::-webkit-scrollbar {
        display: none; }
      body.single-work .page-content .portfolio__h1 {
        margin: 0;
        padding: 1.5em 0; }
    body.single-work .footer {
      -webkit-box-ordinal-group: 5;
          -ms-flex-order: 4;
              order: 4; } }

.home .page-content {
  padding: 0; }

.homepage {
  height: 80vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative; }
  .homepage::after {
    content: '';
    background: #3f7cac;
    opacity: .25;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1; }
  .homepage.grid {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center; }
  .homepage .homepage__logo {
    z-index: 2;
    display: block;
    width: 25vw;
    height: auto;
    -webkit-filter: drop-shadow(0 0 10px #1e2223);
            filter: drop-shadow(0 0 10px #1e2223);
    -webkit-transition: 1s;
    transition: 1s; }
    .homepage .homepage__logo path, .homepage .homepage__logo polygon {
      fill: #fcfaf6; }
    .homepage .homepage__logo polygon:hover {
      fill: #f89c7d; }
    @media only screen and (max-width: 768px) {
      .homepage .homepage__logo {
        width: 50vw; } }

body.error404 {
  font-family: 'VT323', monospace;
  color: white; }
  body.error404 .header {
    border-bottom: 0; }
  body.error404 .page-content {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    body.error404 .page-content .body--404 {
      background-image: url("https://media.giphy.com/media/NGALQBUgvmVTa/giphy.gif");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      body.error404 .page-content .body--404::before {
        content: '';
        display: block;
        background-color: rgba(30, 34, 35, 0.25);
        background-image: url("images/screendoor.png");
        opacity: .5;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        background-position: center center; }
      body.error404 .page-content .body--404 .message--404 {
        text-shadow: 0px 10px 15px rgba(0, 255, 0, 0.15), 0px 20px 15px rgba(225, 0, 0, 0.1), 0px -10px 15px rgba(255, 0, 0, 0.15), 0px -20px 15px rgba(0, 255, 0, 0.1), 10px 0px 15px rgba(255, 255, 0, 0.15), 20px 0px 15px rgba(0, 255, 255, 0.1), -10px 0px 15px rgba(0, 255, 255, 0.15), -20px 0px 15px rgba(255, 255, 0, 0.1), 0px 0px 10px rgba(0, 0, 0, 0.25);
        width: 100%;
        text-align: center;
        font-size: 3em;
        position: relative;
        z-index: 10; }
        body.error404 .page-content .body--404 .message--404__code {
          display: block;
          font-size: 1.5em; }
      body.error404 .page-content .body--404 .menu--404 {
        -ms-flex-item-align: end;
            align-self: flex-end;
        padding: 1.5vw;
        padding-top: 3vw;
        margin: 3vw;
        display: block;
        width: 100%;
        position: relative;
        z-index: 10;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
        body.error404 .page-content .body--404 .menu--404__link {
          -ms-flex-preferred-size: 50%;
              flex-basis: 50%;
          list-style: none;
          box-sizing: border-box;
          padding: 0 3vw 3vw 0;
          position: relative;
          z-index: 10;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: start;
              -ms-flex-align: start;
                  align-items: flex-start; }
          body.error404 .page-content .body--404 .menu--404__link a {
            position: relative;
            z-index: 10;
            cursor: pointer;
            text-decoration: none;
            color: white;
            text-shadow: -3px 3px black;
            font-size: 2.5em;
            padding-left: 6vw; }
            body.error404 .page-content .body--404 .menu--404__link a:hover {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
                  -ms-flex-align: center;
                      align-items: center; }
              body.error404 .page-content .body--404 .menu--404__link a:hover::before {
                content: '';
                display: block;
                background-image: url("images/404/ff_pointer.png");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                -ms-interpolation-mode: nearest-neighbor;
                    image-rendering: -webkit-optimize-contrast;
                    image-rendering: -moz-crisp-edges;
                    image-rendering: pixelated;
                height: 3.75vw;
                width: 3.75vw;
                position: absolute;
                left: 1.5vw; }
        @media only screen and (max-width: 768px) {
          body.error404 .page-content .body--404 .menu--404 {
            display: block; }
            body.error404 .page-content .body--404 .menu--404__link {
              padding: 0 6vw 6vw 0; } }

.menu--404 {
  background-image: -webkit-linear-gradient(#6b6bc6 0%, #6b6bc6 5%, #6262c2 5%, #6262c2 10%, #5959bf 10%, #5959bf 15%, #4f4fbb 15%, #4f4fbb 20%, #4747b7 20%, #4747b7 25%, #4343ae 25%, #4343ae 30%, #4040a5 30%, #4040a5 35%, #3c3c9c 35%, #3c3c9c 40%, #383893 40%, #383893 45%, #353589 45%, #353589 50%, #313180 50%, #313180 55%, #2e2e77 55%, #2e2e77 60%, #2a2a6e 60%, #2a2a6e 65%, #272765 65%, #272765 70%, #23235b 70%, #23235b 75%, #202052 75%, #202052 80%, #1c1c49 80%, #1c1c49 85%, #191940 85%, #191940 90%, #151537 90%, #151537 95%, #11112d 95%, #11112d 100%, #0e0e24 100%, #0e0e24 105%);
  background-image: linear-gradient(#6b6bc6 0%, #6b6bc6 5%, #6262c2 5%, #6262c2 10%, #5959bf 10%, #5959bf 15%, #4f4fbb 15%, #4f4fbb 20%, #4747b7 20%, #4747b7 25%, #4343ae 25%, #4343ae 30%, #4040a5 30%, #4040a5 35%, #3c3c9c 35%, #3c3c9c 40%, #383893 40%, #383893 45%, #353589 45%, #353589 50%, #313180 50%, #313180 55%, #2e2e77 55%, #2e2e77 60%, #2a2a6e 60%, #2a2a6e 65%, #272765 65%, #272765 70%, #23235b 70%, #23235b 75%, #202052 75%, #202052 80%, #1c1c49 80%, #1c1c49 85%, #191940 85%, #191940 90%, #151537 90%, #151537 95%, #11112d 95%, #11112d 100%, #0e0e24 100%, #0e0e24 105%);
  box-shadow: inset 0px 0px 0px 5px #6b7173; }
  .menu--404 .corner {
    display: block;
    height: 10px;
    width: 10px;
    position: absolute;
    background-color: #fffbff;
    box-shadow: 5px 5px #6b7173; }
    .menu--404 .corner:nth-of-type(1) {
      top: 0;
      left: 0; }
    .menu--404 .corner:nth-of-type(2) {
      top: 0;
      right: 0;
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg); }
    .menu--404 .corner:nth-of-type(3) {
      bottom: 0;
      right: 0;
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
    .menu--404 .corner:nth-of-type(4) {
      bottom: 0;
      left: 0;
      -webkit-transform: rotate(270deg);
              transform: rotate(270deg); }
  .menu--404 .vertical {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: -10px;
    right: -10px;
    border-left: 10px solid #fffbff;
    border-right: 10px solid #fffbff; }
  .menu--404 .horizontal {
    position: absolute;
    top: -10px;
    bottom: -10px;
    left: 10px;
    right: 10px;
    border-top: 10px solid #fffbff;
    border-bottom: 10px solid #fffbff; }
