$banner-padding: 2.5em;

.banner {
    background-size: cover;
    background-position: center;
    padding-top: $banner-padding;
    padding-bottom: $banner-padding;
    position: relative;

    &::after {
        content: '';
        display: block;
        background: $dark-gray;
        opacity: .5;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        z-index: 1;
    }

    .grid {
        justify-content: center;

        .banner__header {
            margin: 0;
            z-index: 2;
        }
    }
}

.banner--tall {
    padding-bottom: calc(#{$banner-padding} + 10em);
    margin-bottom: -10em;

    & + .main {
        background: $white;
        z-index: 1;
    }
}
