$banner-padding: 4em;

.banner {
    background-size: cover;
    background-position: center;
    padding-top: $banner-padding;
    padding-bottom: $banner-padding;
    position: relative;
    box-shadow: inset  0  15px 15px -15px transparentize($black, .25),
                inset  0 -15px 15px -15px transparentize($black, .25);

    &::before {
        content: '';
        display: block;
        background: $dark-gray;
        opacity: .5;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        z-index: 1;
    }

    .grid {
        justify-content: center;

        .banner__header {
            margin: 0;
            z-index: 3;
            text-shadow: $shadow;
        }
    }
}

.banner--tall {
    padding-bottom: calc(#{$banner-padding} + 10em);
    margin-bottom: -10em;

    & + .page-content {
        background: $white;
        z-index: 4;
    }

    &::after {
        content: '';
        display: block;
        background: $white;
        width: $container-width;
        height:12em;
        position: absolute;
        right: 0; bottom: -2em; left: 0;
        margin: 0 auto;
        z-index: 2;
        box-shadow: $shadow;

        @include tablet-break {
            width: 100vw;
        }
    }
}
