@import url('https://fonts.googleapis.com/css?family=VT323');

body.error404 {
    font-family: 'VT323', monospace;
    color: white;
    .header {
        border-bottom: 0;
    }
    .page-content {
        padding: 0;
        display: flex;

        .body--404 {
            background-image: url("https://media.giphy.com/media/NGALQBUgvmVTa/giphy.gif");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            @include image-overlay;
            box-shadow: $shadow-inset;
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            .message--404 {
                text-shadow: $shadow;
                width: 100%;
                text-align: center;
                font-size: 3em;
                position: relative;
                z-index: 10;

                &__code {
                    display: block;
                    font-size: 1.5em;
                }
            }

            .menu--404 {
                align-self: flex-end;
                padding: $spacing/2;
                padding-top: $spacing;
                margin: $spacing;
                display: block;
                width: 100%;
                position: relative;
                z-index: 10;
                display: flex;
                flex-wrap: wrap;

                &__link {
                    flex-basis: 50%;
                    list-style: none;
                    box-sizing: border-box;
                    padding: 0 $spacing $spacing 0;
                    position: relative;
                    z-index: 10;
                    display: flex;
                    align-items: center;

                    a {
                        position: relative;
                        z-index: 10;
                        cursor: pointer;
                        text-decoration: none;
                        color: white;
                        text-shadow: -3px 3px black;
                        font-size: 2em;
                        padding-left: 2*$spacing;

                        &:hover {
                            display: flex;
                            align-items: center;

                            &::before {
                                content: '';
                                display: block;
                                background-image: url("images/404/ff_pointer.png");
                                background-size: cover;
                                background-repeat: no-repeat;
                                background-position: center center;
                                image-rendering: pixelated;
                                height: 1.5*$spacing;
                                width: 1.5*$spacing;
                                position: absolute;
                                left: $spacing/3;
                            }
                        }
                    }
                }
            }
        }
    }
}

// @for $i from 1 through 9 {
//     $percentDarken: (($i * 10)+10);
//     .mobile-nav--level-#{$i} .mobile-nav__selector-wrap.active {
//         background: darken($tertiary-color, $percentDarken);
//     }
// }
//
.menu--404 {
    background: blue;
    // background: linear-gradient(
    //     0deg,
    //     #00005a 33.33%, white 33.33%,
    //     white 66.66%, #6b69c6 66.66%
    // );
    // border: $spacing/6 solid white;

    border-radius: $spacing;
    border: $spacing/10 solid blue;
}

.border {
    .corner {
        display: block;
        height: $spacing/2;
        width: $spacing/2;
        position: absolute;
        background-image: url("images/404/pixelcorners.svg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;

        &:nth-of-type(1) {
            top: 0;
            left: 0;
            transform: rotate(90deg);
        }
        &:nth-of-type(2) {
            top: 0;
            right: 0;
        }
        &:nth-of-type(3) {
            bottom: 0;
            right: 0;
            transform: rotate(90deg);
        }
        &:nth-of-type(4) {
            bottom: 0;
            left: 0;
        }
    }
    .vertical {
        display: block;
        box-sizing: border-box;
        position: absolute;
        left: -$spacing/4;
        right: -$spacing/4;
        top: $spacing/2;
        bottom: $spacing/2;
        border-left: $spacing/4 solid white;
        border-right: $spacing/4 solid white;
        height: calc(100% - $spacing/2);
        width: calc(100% + $spacing/2);
    }
    .horizontal {
        display: block;
        box-sizing: border-box;
        position: absolute;
        left: $spacing/2;
        right: $spacing/2;
        top: -$spacing/4;
        bottom: -$spacing/4;
        border-top: $spacing/4 solid white;
        border-bottom: $spacing/4 solid white;
        height: calc(100% + $spacing/2);
        width: calc(100% - $spacing/2);
    }
}
