.blog, .archive {
    .page-content.grid {
        align-content: flex-start;
        flex-wrap: wrap;
        padding-bottom: ($margin*2);

        .excerpt {
            width: 50%;
            padding: $margin;
            margin-bottom: $margin;

            @include tablet-break {
                width: 100%;
            }

            .excerpt__block-link {
                text-decoration: none;
                color: inherit;
                display: block;

                .excerpt__header {
                    padding: (5*$margin) $margin ($margin/2) $margin;
                    margin-bottom: $margin;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center;
                    position: relative;

                    &::before {
                        content: '';
                        display: block;
                        background: $primary-color;
                        opacity: .5;
                        position: absolute;
                        top: 0; right: 0; bottom: 0; left: 0;
                        z-index: 1;
                    }

                    .excerpt__date {
                        text-shadow: $shadow;
                        position: relative;
                        z-index: 5;
                        margin-bottom: ($margin/4);
                    }

                    .excerpt__title {
                        position: relative;
                        z-index: 5;
                        margin-bottom: 0;
                        text-shadow: $shadow;
                    }
                }

                .excerpt__body {
                    padding: 0 $margin  $margin $margin;

                    .excerpt__meta {
                        margin-bottom: $margin;
                    }

                    p.excerpt__text {
                        margin-bottom: ($margin/2);
                    }

                    .excerpt__link {
                        text-decoration: none;

                        &::after{
                            content: ' ▸▸';
                        }
                    }
                }

                &:hover {
                    position: relative;
                    top: -3px;
                    box-shadow: $shadow;

                    .excerpt__title, .excerpt__link {
                        color: $secondary-color;
                    }

                    .excerpt__header {
                        .excerpt__title {
                            color: $white;
                        }

                        &::before {
                            background: $secondary-color;
                        }
                    }
                }
            }
        }
    }
}
