.blog {
    .page-content.grid {
        flex-wrap: wrap;
        padding-bottom: ($margin*2);

        .excerpt {
            width: 50%;
            padding: $margin;
            margin-bottom: $margin;

            @include tablet-break {
                width: 100%;
            }

            .excerpt__block-link {
                text-decoration: none;
                color: inherit;

                &:hover {
                    position: relative;
                    top: -3px;

                    .excerpt__header, .excerpt__link {
                        color: $secondary-color;
                    }
                }

                .excerpt__image {
                    width: 100%;
                    margin-bottom: ($margin/4);
                }

                .excerpt__header {
                    margin-bottom: ($margin/4);
                }

                .excerpt__date {
                    margin-bottom: ($margin/2);
                }

                p.excerpt__body {
                    margin-bottom: ($margin/2);
                }

                .excerpt__link {
                    text-decoration: none;

                    &::after{
                        content: ' ▸▸';
                    }
                }
            }
        }
    }
}
