$margin: 1.5em;

.page-content {
    position: relative;
    background: $white;
    padding-top: (2*$margin);
    padding-bottom: (3*$margin);

    article {
        width: 100%;
        z-index: 3;
        padding: $margin;

        h1, h2, h3, h4, h5, h6 {
            margin: 0;
            margin-bottom: $margin;
        }

        p {
            margin: 0;
            margin-bottom: $margin;

            .alignnone {
                display: block;
                width: calc(6em + 100%);
                height: auto;
                margin: 0 (-2*$margin) $margin (-2*$margin);
            }

            .alignleft {
                float: left;
                margin: 0 $margin $margin (-2*$margin);
            }

            .alignright {
                float: right;
                margin: 0 (-2*$margin) $margin $margin;
            }

            .aligncenter {
                display: block;
                margin: 0 auto;
            }
        }
    }

}
