{% extends "base.twig" %}

{% block header %}
	<header class="header">
		<div class="header--pre">
			{% include "components/socials.twig" %}
		</div>
	</header>
{% endblock %}

{% block banner %}
{% endblock %}

{% block grid %}{% endblock %}

{% block content %}
	<section class="homepage grid" style="background-image: url('{{post.thumbnail}}">
			<svg class="homepage__logo" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				 viewBox="0 0 93.4 81" style="enable-background:new 0 0 93.4 81;" xml:space="preserve">
			<style type="text/css">
				.st0{fill:#231F20;}
			</style>
			<g>
				<g>
					<polygon class="st0" points="23.6,0.5 35.1,20.5 12,20.5 		"/>
					<path class="st0" d="M35.1,21H12c-0.2,0-0.3-0.1-0.4-0.2s-0.1-0.3,0-0.5l11.5-20c0.2-0.3,0.7-0.3,0.9,0l11.5,20
						c0.1,0.2,0.1,0.3,0,0.5S35.3,21,35.1,21z M12.9,20h21.4L23.6,1.5L12.9,20z"/>
				</g>
				<g>
					<polygon class="st0" points="46.7,0.5 58.2,20.5 35.1,20.5 		"/>
					<path class="st0" d="M58.2,21H35.1c-0.2,0-0.3-0.1-0.4-0.2s-0.1-0.3,0-0.5l11.5-20c0.2-0.3,0.7-0.3,0.9,0l11.5,20
						c0.1,0.2,0.1,0.3,0,0.5C58.6,20.9,58.4,21,58.2,21z M36,20h21.4L46.7,1.5L36,20z"/>
				</g>
				<g>
					<polygon class="st0" points="58.2,20.5 69.8,40.5 46.7,40.5 		"/>
					<path class="st0" d="M69.8,41H46.7c-0.2,0-0.3-0.1-0.4-0.2s-0.1-0.3,0-0.5l11.5-20c0.2-0.3,0.7-0.3,0.9,0l11.5,20
						c0.1,0.2,0.1,0.3,0,0.5C70.1,40.9,70,41,69.8,41z M47.6,40h21.4L58.2,21.5L47.6,40z"/>
				</g>
				<g>
					<polygon class="st0" points="69.8,40.5 58.2,20.5 81.3,20.5 		"/>
					<path class="st0" d="M69.8,41c-0.2,0-0.3-0.1-0.4-0.2l-11.5-20c-0.1-0.2-0.1-0.3,0-0.5c0.1-0.2,0.3-0.2,0.4-0.2h23.1
						c0.2,0,0.3,0.1,0.4,0.2c0.1,0.2,0.1,0.3,0,0.5l-11.5,20C70.1,40.9,70,41,69.8,41z M59.1,21l10.7,18.5L80.5,21H59.1z"/>
				</g>
				<g>
					<polygon class="st0" points="35.1,20.5 23.6,0.5 46.7,0.5 		"/>
					<path class="st0" d="M35.1,21c-0.2,0-0.3-0.1-0.4-0.2l-11.5-20c-0.1-0.2-0.1-0.3,0-0.5S23.4,0,23.6,0h23.1c0.2,0,0.3,0.1,0.4,0.2
						s0.1,0.3,0,0.5l-11.5,20C35.5,20.9,35.3,21,35.1,21z M24.5,1l10.7,18.5L45.8,1H24.5z"/>
				</g>
				<g>
					<polygon class="st0" points="46.7,40.5 58.2,60.5 35.1,60.5 		"/>
					<path class="st0" d="M58.2,61H35.1c-0.2,0-0.3-0.1-0.4-0.2s-0.1-0.3,0-0.5l11.5-20c0.2-0.3,0.7-0.3,0.9,0l11.5,20
						c0.1,0.2,0.1,0.3,0,0.5C58.6,60.9,58.4,61,58.2,61z M36,60h21.4L46.7,41.5L36,60z"/>
				</g>
				<g>
					<polygon class="st0" points="69.8,40.5 81.3,60.5 58.2,60.5 		"/>
					<path class="st0" d="M81.3,61H58.2c-0.2,0-0.3-0.1-0.4-0.2c-0.1-0.2-0.1-0.3,0-0.5l11.5-20c0.2-0.3,0.7-0.3,0.9,0l11.5,20
						c0.1,0.2,0.1,0.3,0,0.5C81.7,60.9,81.5,61,81.3,61z M59.1,60h21.4L69.8,41.5L59.1,60z"/>
				</g>
				<g>
					<polygon class="st0" points="23.6,40.5 12,20.5 35.1,20.5 		"/>
					<path class="st0" d="M23.6,41c-0.2,0-0.3-0.1-0.4-0.2l-11.5-20c-0.1-0.2-0.1-0.3,0-0.5S11.9,20,12,20h23.1c0.2,0,0.3,0.1,0.4,0.2
						s0.1,0.3,0,0.5L24,40.8C23.9,40.9,23.8,41,23.6,41z M12.9,21l10.7,18.5L34.3,21H12.9z"/>
				</g>
				<g>
					<polygon class="st0" points="58.2,60.5 46.7,40.5 69.8,40.5 		"/>
					<path class="st0" d="M58.2,61c-0.2,0-0.3-0.1-0.4-0.2l-11.5-20c-0.1-0.2-0.1-0.3,0-0.5s0.3-0.2,0.4-0.2h23.1
						c0.2,0,0.3,0.1,0.4,0.2c0.1,0.2,0.1,0.3,0,0.5l-11.5,20C58.6,60.9,58.4,61,58.2,61z M47.6,41l10.7,18.5L68.9,41H47.6z"/>
				</g>
				<g>
					<polygon class="st0" points="81.3,20.5 92.9,40.5 69.8,40.5 		"/>
					<path class="st0" d="M92.9,41H69.8c-0.2,0-0.3-0.1-0.4-0.2c-0.1-0.2-0.1-0.3,0-0.5l11.5-20c0.2-0.3,0.7-0.3,0.9,0l11.5,20
						c0.1,0.2,0.1,0.3,0,0.5C93.2,40.9,93.1,41,92.9,41z M70.6,40H92L81.3,21.5L70.6,40z"/>
				</g>
				<g>
					<polygon class="st0" points="46.7,80.5 35.1,60.5 58.2,60.5 		"/>
					<path class="st0" d="M46.7,81c-0.2,0-0.3-0.1-0.4-0.2l-11.5-20c-0.1-0.2-0.1-0.3,0-0.5S35,60,35.1,60h23.1c0.2,0,0.3,0.1,0.4,0.2
						c0.1,0.2,0.1,0.3,0,0.5l-11.5,20C47,80.9,46.9,81,46.7,81z M36,61l10.7,18.5L57.4,61H36z"/>
				</g>
				<g>
					<polygon class="st0" points="12,20.5 23.6,40.5 0.5,40.5 		"/>
					<path class="st0" d="M23.6,41H0.5c-0.2,0-0.3-0.1-0.4-0.2s-0.1-0.3,0-0.5l11.5-20c0.2-0.3,0.7-0.3,0.9,0l11.5,20
						c0.1,0.2,0.1,0.3,0,0.5S23.8,41,23.6,41z M1.4,40h21.4L12,21.5L1.4,40z"/>
				</g>
				<g>
					<polygon class="st0" points="12,60.5 0.5,40.5 23.6,40.5 		"/>
					<path class="st0" d="M12,61c-0.2,0-0.3-0.1-0.4-0.2l-11.5-20c-0.1-0.2-0.1-0.3,0-0.5S0.3,40,0.5,40h23.1c0.2,0,0.3,0.1,0.4,0.2
						s0.1,0.3,0,0.5l-11.5,20C12.4,60.9,12.2,61,12,61z M1.4,41L12,59.5L22.7,41H1.4z"/>
				</g>
				<g>
					<path class="st0" d="M35.1,61H12c-0.2,0-0.3-0.1-0.4-0.2s-0.1-0.3,0-0.5l23.1-40c0.1-0.2,0.3-0.2,0.4-0.2h23.1
						c0.2,0,0.3,0.1,0.4,0.2c0.1,0.2,0.1,0.3,0,0.5l-23.1,40C35.5,60.9,35.3,61,35.1,61z M12.9,60h21.9l22.5-39H35.4L12.9,60z"/>
				</g>
				<g>
					<path class="st0" d="M69.8,81H46.7c-0.2,0-0.3-0.1-0.4-0.2s-0.1-0.3,0-0.5l23.1-40c0.1-0.2,0.3-0.2,0.4-0.2h23.1
						c0.2,0,0.3,0.1,0.4,0.2c0.1,0.2,0.1,0.3,0,0.5l-23.1,40C70.1,80.9,70,81,69.8,81z M47.6,80h21.9L92,41H70.1L47.6,80z"/>
				</g>
			</g>
			</svg>
	</section>
{% endblock %}
