{% extends "tease.twig" %}

{% block content %}
	<p>
		{% if post.thumbnail.src %}
			<img class="excerpt__image" src="{{post.thumbnail.src}}" />
		{% endif %}
	<p>
	<h2 class="h2"><a href="{{post.link}}">{{post.title}}</a></h2>
	<p>
		{{post.get_preview(50)}}
	</p>
{% endblock %}
