<section class="banner" style="background-image: url('{{post.thumbnail}}');">
    <div class="grid grid--container">
        {% if post.title %}<h1 class="banner__header">{{post.title}}</h1>{% endif %}
    </div>
</section>
