<section class="banner" style="background-image: url('{{TimberImage}}');">
    <div class="grid grid--container">
        {% if title %}<h1>{{title}}</h1>{% endif %}
        laksjdf;lkasjfd
    </div>
</section>
