{% if page_children %}
    <ul class="subnav grid">
        {% for item in page_children %}
            <li class="subnav__link"><a href="{{ TimberPost(item.ID).link }}">{{item.post_title}}</a></li>
        {% endfor %}
    </ul>
{% endif %}

{% if terms %}
    <ul class="subnav grid">
        {% for term in terms %}
            <li class="subnav__link"><a href="{{ term.slug }}">{{term.name}}</a></li>
        {% endfor %}
    </ul>
{% endif %}
