{% if menu %}
    <ul class="subnav grid">
        {% if item.get_children %}
            {% for child in item.get_children %}
                <li class="subnav__link"><a href="{{child.get_link}}">{{child.title}}</a></li>
            {% endfor %}
        {% endif %}
    </ul>
{% endif %}
