{% if menu %}
    <ul class="subnav grid">
        <li class="subnav__link"><a href="#">link</a></li>
        <li class="subnav__link"><a href="#">link</a></li>
        <li class="subnav__link"><a style="background-color:#3f7cac;" href="#">link</a></li>
        <li class="subnav__link"><a href="#">link</a></li>
        {% for item in menu %}
            {% include "components/menu.twig" with {'menu': item.get_children} %}
            {% if item.get_children %}
                {% for child in item.get_children %}
                    <li class="subnav__link"><a href="{{child.get_link}}">{{child.title}}</a></li>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
